.team-component {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100% /* Adjust the height as needed */
  }
  
  .counter-container {
    position: absolute;
    bottom: 20px;
    left: 10%;
  }
  
  .counter-box {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .counter {
    margin: 0;
    font-weight: bold; /* Increase font weight */
    font-size: 45px;
    color:rgb(56, 169, 34);
  }
  
  .counter-label {
    margin: 0;
    font-weight: bold; /* Increase font weight */
    font-size: 30px;
  }
  
  .team-members-text {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-weight: bold; 
    font-size: 40px
  }
  
  @media (max-width: 768px) {
    .counter-container,
    .team-members-text {
      font-size: 14px;
    }
  
    .counter-container {
      left: 10%;
    }
  
    .counter-box {
      padding: 8px 16px;
      border-radius: 15px;
    }

    .counter {
      font-size: 20px;
    }

    .counter-label {
      font-size: 15px;
    }

  }
  